<div class="ewc-container">
    <div class="status-bar">
        <div class="float-left">Exotic Wookiee Repellent support</div>
        <div class="float-right text-right">
            <span id="Status">(status)</span>
        </div>
        <div class="clearfix"></div>
    </div>

    <div id="MessageContainer" class="pre-scrollable customer-message-container">
    </div>

    <div class="input-group input">
        <input type="text" id="messageInput" class="form-control" placeholder="Write something..." aria-label="Write something..." aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="sendMessageBtn">></button>
        </div>
    </div>
</div>
