<div class="jumbotron">
    <div class="mini-wookiee">
        <img src="~/Public/images/mini_wookiee.png" />
    </div>
    <div class="float-left">
        <h1>Wookiee Repellent Spray</h1>
        <p class="lead">The best new killer product from Exotic Eradicators Inc.</p>
        <p><a href="https://www.youtube.com/watch?v=BgAlQuqzl8o" target="_blank" class="btn btn-primary btn-lg">View more &raquo;</a></p>
    </div>
        <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Physical characteristics</h2>
        <p>
            Adult Wookiees are typically taller than most humans, averaging 2.1 meters (6 feet 11 inches).[4] 
            They possess enormous strength; Solo states that a Wookiee can pull a man's arms out of his sockets if angered or slighted, 
            and in books and comics no humanoid species is shown to equal a Wookiee in pure strength. 
        </p>
        <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Wookiee">Learn more &raquo;</a>
        
    </div>
    <div class="col-md-4">
        <h2>Culture</h2>
        <p>
            Wookiees are devoted, loyal friends and are very distrustful of strangers.[4] Life debt is sacred to them.
            Despite a fearsome appearance and temperamental disposition, Wookiees are very intelligent and are very adept at handling advanced technology.
            Chewbacca is co-pilot of and performs maintenance on the Millennium Falcon, and also possesses a working knowledge of robotics,...
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Wookiee">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Language</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=-pVrOUyuiTA">Learn more &raquo;</a></p>
    </div>
</div>



